*{box-sizing:border-box}
html,body{padding:0;margin:0;background:#fafafa;color:#111}
:root{color-scheme:light}
input,button,select,textarea{font:inherit}
@font-face{font-family:Vazirmatn;src:local("Vazirmatn"),local("Vazir");font-weight:400;font-style:normal}
